.background {
  background: center no-repeat url(https://mit.brondby.com/images/background.jpg);
}

.logo {
  background-image: url(https://mit.brondby.com/images/bif-logo.svg);
}

.progressBar {
  background-color: rgb(238, 255, 65);
}

.splash {
  background-image: url(https://mit.brondby.com/images/bif-logo.svg);
}

.watermark {
  background-image: url(https://mit.brondby.com/images/bif-logo.svg);
  background-size: 57px 57px;
}
